<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
        <!-- <class name="com.c2info.EG360_DashboardTCs.TodayValues"/>
      <class name="com.c2info.EG360_DashboardTCs.YesterDayValues"/>
      <class name="com.c2info.EG360_DashboardTCs.WeeklyValues"/>
      <class name="com.c2info.EG360_DashboardTCs.MonthlyValues"/> -->
      
      <class name="com.c2info.EG360_SalesReportsTCs.TC_001_VerifySalesReportForCurrentMonth_Sales"/>
      <class name="com.c2info.EG360_SalesReportsTCs.TC_002_VerifySalesreportForCurrentQuarter_Sales"/>
      <class name="com.c2info.EG360_SalesReportsTCs.TC_003_VerifySalesReportForCurrentYear_Sales"/>
      <class name="com.c2info.EG360_SalesReportsTCs.TC_004_VerifySalesReportForLastMonth_Sales"/>
      <class name="com.c2info.EG360_SalesReportsTCs.TC_005_VerifySalesReportForLastWeek_Sales"/>
      <class name="com.c2info.EG360_SalesReportsTCs.TC_006_VerifySalesReportForToday_Sales"/>
      <class name="com.c2info.EG360_SalesReportsTCs.TC_007_VerifySalesReportForYesterday_Sales"/>
      <class name="com.c2info.EG360_SalesReportsTCs.TC_008_VerifySalesReportForToday_SalesReturn"/>
      <class name="com.c2info.EG360_SalesReportsTCs.TC_009_VerifySalesReportForYesterday_SalesReturn"/>
      <class name="com.c2info.EG360_SalesReportsTCs.TC_010_VerifySalesReportForLastWeek_SalesReturn"/>
      <class name="com.c2info.EG360_SalesReportsTCs.TC_011_VerifySalesReportForCurrentMonth_SalesReturn"/>
      <class name="com.c2info.EG360_SalesReportsTCs.TC_012_VerifySalesReportForLastMonth_SalesReturn"/>
      <class name="com.c2info.EG360_SalesReportsTCs.TC_013_VerifySalesReportForCurrentQuarter_SalesReturn"/>
      <class name="com.c2info.EG360_SalesReportsTCs.TC_014_VerifySalesReportForCurrentYear_SalesReturn"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
